@import '../../styles/variables.scss';

.contact-info {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100px;
  width: 100%;
  .contact-left {
    float: left;
    height: 100%;
    width: 30%;
    h3 {
      font-family: $contact-font-heading;
      letter-spacing: 0.3em;
      position: relative;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
    }  
  }

  .contact-right {
    float: left;
    height: 100%;
    width: 70%;
    .contact-body {
      float: left;
      height: 100%;
      width: 60%;
      p {
        font-family: $body-font;
        margin-bottom: 0;
        margin-top: 1.5%;
      }
    }
    .contact-right-subhead {
      float: left;
      height: 100%;
      width: 27%;
      h4 {
        font-family: $contact-font-heading;
        letter-spacing: 0.1em;
        position: relative;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
      }

    }
  }
}
