@import '../../styles/variables.scss';

.project-list {
  height: 350px;
  width: 100%;
  & .project-img {
    width: 647px;
    height: 100%;
  }
  & .project-description {
    height: 100%;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  & .description-text {
    color: white;
    float: left;
    font-family: $project-font;
    height: 100%;
    padding: 0 4em 0 4em;
    width: 59%;
  }
  & h4 {
    text-transform: uppercase;
    top: 16%;
    position: relative;
  }
  & p {
    font-size: 1.2em;
    top: 25%;
    position: relative;
  }
}

.project-list:nth-child(even) {
  & img.project-img {
    clear: left;
    float: right;
  }
  & .project-description {
    // background: rgba(151, 170, 178, 0.8);
    background: #58636d;
  }
}

.project-list:nth-child(odd) {
  & img.project-img {
    clear: right;
    float: left;
  }
  & .project-description {
    // background: rgba(159, 184, 196, 0.8);
    background:#2e3842;
  }
}
