@import './base.scss';
@import './variables.scss';

main {
  height: 100%;
  width: 100%;
  position: absolute;
}

.main-content {
  height: 82vh;
}

.content {
  // background: rgba(255,255,255,0.5);
  border: 1px solid black;
  height: 100%;
  margin: 1.5em 0 1.5em 0;
  width: 100%;
}

.bottom-content {
  bottom: 0;
  position: absolute;
  width: 100%;
}