@import './base.scss';
@import './variables.scss';

main {
  height: 100%;
  width: 100%;
  position: absolute;
}

.main-content {
  height: 80vh;
}

.bottom-content {
  bottom: 0;
  position: absolute;
  width: 100%;
}