@import './variables.scss';

@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Light';
  src: url('./fonts/Oswald-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Regular';
  src: url('./fonts/Oswald-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Medium';
  src: url('./fonts/Oswald-Medium.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./fonts/Roboto-Regular.ttf');
  font-style: normal;
}

html,
#root,
.App,
main,
body,
.main-content {
  height: 100%;
  width: 100%
}

body {
  background-image: url('./../../../public/assets/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $body-font;
  margin: 0;
}

* {
  box-sizing: border-box;
}
