// font face
$header-font: 'Oswald Medium';
$contact-font-heading: 'Oswald Light';
$body-font: 'Roboto Regular';
$footer-font: 'Roboto Regular';
$body-font-bold: 'Roboto Medium';

// font weights
$regular: 200;
$bold: 600;