// font face
$header-font: 'Oswald Medium';
$contact-font-heading: 'Oswald Light';
$body-font: 'Roboto Regular';
$footer-font: 'Roboto Regular';
$body-font-bold: 'Roboto Medium';
$project-font: 'Open Sans Semibold';
$description-font: 'Open Sans Regular';

// font weights
$regular: 200;
$bold: 600;

// breakpoints
$mobileBreakpoint: 768;
$desktopBreakpoint: 1024;
$medDesktopBreakpoint: 1135;

// mobile + desktop
@mixin mobile {
  @media only screen and (max-width: '#{$mobileBreakpoint}px') {
    h3, h5 {
      font-size: 1.3em;
    }
    // about page
    .content.about {
      h1,h2 {
      font-size: 2.3vh;
      }
    }
    .content.about .picture img {
      display: none;
    }
    .content.about .about-me {
      margin-left: 0;
      width: 100%;
    }
    .content.about .about-me ul:first-child li:last-child {
      margin-bottom: 0;
    }
    // contact
    .contact-info .contact-right .contact-body p {
      font-size: 1.7vh;
    }
    // project page
    .svg-container .github-svg {
      padding: 3%;
    }
    .svg-container svg {
      width: 25%;
    }
    .project-list {
      height: 202px;
      p {
        letter-spacing: 0;
        font-size: 1em;
        margin: 0;
      }
      & img.project-img {
        width: 277px;
        height: 100%;
      }
      & .project-description {
        font-size: 0.6em;
      }
      & .description-text {
        padding: 0;
        width: 40%;
        h4 {
          font-size: 1.5em;
        }
      }
    }
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: '#{$mobileBreakpoint + 1}px') and (max-width: '#{$desktopBreakpoint}px') {
    h3, h5 {
      font-size: 1em;
    }
    font-size: 2.8vmin;
    // about page
    .content.about h2 {
      font-size: 2.3vh;
    }
    .content.about .picture img {
      height: 420px;
      width: 286px;
    }
    .content.about .about-me {
      margin-left: 1.5em;
      width: 45%;
    }
    .content.about .about-me ul:first-child li:last-child {
      margin-bottom: 0;
    }
    // contact
    .svg-container .github-svg {
      padding: 3%;
    }
    .svg-container svg {
      width: 25%;
    }
    .project-list {
      height: 150px;
      & img.project-img {
        width: 277px;
        height: 100%;
      }
      & .project-description {
        font-size: 0.6em;
      }
    }
    @content;
  }
}

@mixin smallDesktop {
  @media only screen and (min-width: '#{$mobileBreakpoint}px') and (max-width: '#{$desktopBreakpoint}px') {
    .content.about {
      .about-me {
        margin-left: 1em;
      }
      .picture img {
      height: 375px;
      width: 250px;
     }
   }
    @content;
  }
}

@mixin largeDesktop {
  @media only screen and (min-width: '#{$desktopBreakpoint}px') and (max-width: '#{$medDesktopBreakpoint}px') {
    .content.about {
      .about-me {
        margin-left: 1em;
      }
      .picture img {
      height: 525px;
      width: 350px;
     }
   }
   .contact-info h3, h5 {
    font-size: 1.8em;
   }
    @content;
  }
}

// animations
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
