// font face
$header-font: 'Oswald Medium';
$contact-font-heading: 'Oswald Light';
$body-font: 'Roboto Regular';
$footer-font: 'Roboto Regular';
$body-font-bold: 'Roboto Medium';
// font weights
$regular: 200;
$bold: 600;
// breakpoints
$mobileBreakpoint: 768;
$desktopBreakpoint: 1024;
// mobile + desktop
@mixin desktop {
  @media only screen and (min-width: '#{$desktopBreakpoint + 1}px') {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: '#{$mobileBreakpoint}px') {
    .svg-container .github-svg {
      padding: 3%;
    }
    .svg-container svg {
      width: 25%;
    }
    font-size: 2.8vmin;
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: '#{$mobileBreakpoint + 1}px') and (max-width: '#{$desktopBreakpoint}px') {
    @content;
  }
}

@mixin tabletAndDesktop {
  @media only screen and (min-width: '#{$mobileBreakpoint + 1}px') {
    @content;
  }
}
