@import '../../styles/variables.scss';
.navigation {
  background-color: rgba(128, 179, 204, 0.27);
  height: 28px;
  width: 100%;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.nav-link {
  float: left;
  font-size: 1.3em;
  font-family: $body-font;
  height: 28px;
  line-height: 28px;
  list-style-type: none;
  text-align: center;
  width: 33.3%;
  > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: $bold;
    height: 100%;
    width: 100%;
    padding: 0;
  }
}

.nav-link:hover {
  background-color: rgba(128, 179, 204, 0.33);
}

.nav-link-active {
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
  > a {
    text-transform: uppercase;
    font-family: $body-font-bold;
  }
}
