@import '../../styles/variables.scss';

.name {
  font-family: $header-font;
  font-size: 56px;
  font-weight: 600;
  height: 100%;
  margin-top: 1em;
  position: relative;
  text-align: center;
  width: 100%;
}