@import '../../styles/variables.scss';

.name {
  color: white;
  font-family: $header-font;
  font-size: 4em;
  height: 100%;
  margin-top: 1em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}